  <style>
    #loggedInMsg {
      padding-right:  1em;
      background-color:#28a745;
      border-color: blue;
      color: black;
    }
    main {
      margin: 1em;
    }
      main > h3:first-child {
        margin: 4em 0 1em 0;
      }

    input { 
      width: 300px;
    }

    .bodyForm {
      width: 500px;
      margin-left: auto;
      margin-right: auto
    }

    .bodyForm > div{
      justify-content: flex-end;
    }

    .bodyForm > button {
      width: 300px;
      float: right;
    }
  </style>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-success">
      <a class="navbar-brand" href="/">TinyApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <% if (typeof(user_id) !== "undefined") { %>
            <a class="nav-item nav-link" href="/urls">My URLs</a>
            <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
          <% } else { %>
            <a class="nav-item nav-link" href="/login">Login</a>
            <a class="nav-item nav-link" href="/register">Register</a>
          <% } %>
        </div>
      </div>
      <% if(typeof(user_id) !== "undefined") {%>
      <div>
        <form class="input-group input-group" method="POST" action="/logout" id="logoutForm">
          <div class="input-group-prepend">
            <div class="input-group-text" id="loggedInMsg" >Logged in as: <%= user_email %></div>
          </div>
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Logout</button>
          </div>
        </form>
      </div>
      <%} %>
    </nav>

  </header>