<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>tinnyApp</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body    {
      padding-top:50px;
      font-family: 'Source Serif Pro', serif;
      }
</style>

<link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap" rel="stylesheet"> 
