<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
</head>
<body class="container">

<header>
    <% include ./header %>
</header>

<main>
    <div class="jumbotron">
        <h1>EJS Templating</h1>
        <p>This is an exmple of templating using EJS</p>
    </div>
    <ul>
      <% for (let url in urlDatabase) { %>
        <li style="margin: 0 25% 0 25%; padding: 0.5em 0 0.5em 0;"> <b style='margin-right: <%= (10 - url.length) %>em'><%= url %></b><a href="<%= urlDatabase[url] %>"><%= urlDatabase[url] %></a></li>
      <% } %>
    </ul>
</main>

<footer>
    <% include ./footer %>
</footer>

</body>
</html>